<p id="notice"><%= notice %></p>
<h3>Доступное для записи время</h3>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timeslots.each do |timeslot| %>
      <tr>
        <td><%= link_to "#{timeslot.app_date.strftime('%d %m, %A')}" "#{ timeslot.app_time.strftime("%H:%M")}", new_doctor_timeslot_appointment_path(@doctor, timeslot, @appointment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Back', doctors_path %>
