
<%= simple_form_for [:doctor, :timeslot, @appointment] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

	  <div class="form-inputs">
		  <%= simple_fields_for :patient do |p|%>
		  	<%= p.input :name %>
		  	<%= p.input :surname %>
		  	<%= p.input :birthdate, as: :string, input_html: {type: :date} %>
		  <% end %>
	  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
